{% extends 'base.html' %}
{% load i18n %}

{% block menu %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{% trans "Change your password" %}</h3>
        </div>
        <div class="panel-body">

            <p>{% trans 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

            <div class="col-md-6">
                <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="id_email">{% trans 'Email address:' %}</label>
                        <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email">
                    </div>
                    <input class="btn btn-success btn-block" type="submit" value="{% trans 'Reset my password' %}">
                </fieldset>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
