*~
*.sqlite3
*#
.#*
env/
.envrc
__pycache__
app/escriptorium/local_settings.py
app/static/
app/media/
app/homepage/
*.log
front/node_modules
front/dist
variables.env
.vscode
.idea
.venv
.python-version
WARNING_*
.nfs*
**/.DS_Store
