{% extends 'includes/widgets/base_field.html' %}
{% block input %}
{% with choices=field.field.choices %}
{% if choices %}
<div class="form-group">
  <div class="form-row">
    <label>{{ field.label }}</label>
  </div>
  {% for choice in choices %}
  <div class="form-check form-check-inline">
    <input type="checkbox" name="{{ field.name }}" value="{{ choice.0 }}" class="form-check-input" id="{{field.name}}-{{ choice.0 }}" {% if choice.0 in field.value %}checked{% endif %}>
    <label class="form-check-label" for="{{field.name}}-{{ choice.0 }}">{{ choice.1|capfirst }}</label>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endblock %}
