{% load i18n %}
<div class="modal fade" id="{{proc}}-wizard" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {% comment %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% block wizard_title %}{% endblock %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endcomment %}
      <form id="process-part-form-{{ proc }}" data-proc="{{ proc }}" class="js-help-container process-part-form" method="{% block wizard_method %}post{% endblock %}" {% block wizard_action %}action="{% url 'document-parts-process' pk=object.pk %}"{% endblock %} enctype="multipart/form-data">
        <div class="modal-body">
          <button type="button" class="btn help open" aria-label="Help">
            <span class="fas fa-question"></span>
          </button>

          {% block selected_images %}
          <p><span id="selected-num"></span> {% trans "image(s) selected." %}</p>
          {% endblock %}
          <div class="alert alert-primary help-text">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {% block wizard_help %}{% endblock %}
          </div>
          <input type="hidden" name="task" value="{{ proc }}"/>

          <p id="wizard-form-error" class="error"></p>

          {% block wizard_fields %}{% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary js-submit-proc">{% block wizard_submit %}{% endblock %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
