{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>{% blocktrans %}Binarization is a mandatory step before automatic segmentation, the output is a black and white image.{% endblocktrans %}</p>
<hr>
<p>{% blocktrans %}You can skip this step if you want to proceed with manual segmentation.{% endblocktrans %}</p>
{% endblock %}

{% block wizard_fields %}
<div class="form-group">
  <h5>{% trans "Manually" %}</h5>
  {% render_field settings_form.bw_image class="js-proc-settings" %}
</div>
<div class="form-group">
  <h5>{% trans "Or automatically" %}</h5>
  {% render_field settings_form.binarizer class="js-proc-settings" %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Upload or Binarize" %}{% endblock %}
