{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>(PLACEHOLDER)</p>
{% endblock %}

{% block wizard_action %}action="{% url 'api:document-export' pk=object.pk %}" target="_blank"{% endblock %}

{% block wizard_fields %}
{% csrf_token %}
{% render_field export_form.transcription %}
{% render_field export_form.file_format %}
{% render_field export_form.include_images %}
{% render_field export_form.include_characters %}
<label>Region types</label>
{% render_field export_form.region_types %}
{% endblock %}

{% block wizard_submit %}{% trans "Export" %}{% endblock %}
