{% extends 'core/wizards/import.html' %}
{% load i18n bootstrap %}

{% block selected_images %}{% endblock %}

{% block wizard_action %}action="{% url 'api:document-imports' pk=object.pk %}"{% endblock %}

{% block wizard_fields %}
{{ block.super }}
{% if not import_form.current_import.ongoing %}
<h5>{% trans "Import images from a PDF document." %}</h5>
<div class="form-group">
    {% trans "A single pdf with one image per page." as help_text %}
    {% render_field import_form.upload_file class="js-proc-settings" accept=".pdf" help_text=help_text %}
</div>
{% endif %}
{% endblock %}

{% block wizard_submit %}{% trans "Start importing" %}{% endblock %}
