{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>{% trans "Beware that re-segmenting will delete any existing transcriptions!" %}</p>
{% endblock %}

{% block wizard_fields %}
<div class="form-group">
  <h5>{% trans "Select a model" %}</h5>
  {% render_field segment_form.model class="js-proc-settings" %}
</div>

<div class="form-group">
  {% render_field segment_form.segmentation_steps %}
  {% render_field segment_form.text_direction %}
  {% render_field segment_form.override %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Segment" %}{% endblock %}
