{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>{% trans "(PLACEHOLDER)" %}</p>
{% endblock %}

{% block wizard_fields %}
<div class="form-group">
  <h5>{% trans "New model" %}</h5>
  {% render_field process_form.new_model class="js-proc-settings" %}
</div>
<div class="form-group">
  <h5>{% trans "Or select an existing one" %}</h5>
  {% render_field process_form.segtrain_model class="js-proc-settings" %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Train" %}{% endblock %}
