{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>{% trans "(PLACEHOLDER)" %}</p>
{% endblock %}

{% block wizard_fields %}
<div class="form-group">
  <h5>{% trans "New model" %}</h5>
  {% render_field segtrain_form.model_name class="js-proc-settings" %}
</div>
<div class="form-group">
  <h5>{% trans "Or select an existing one" %}</h5>
  {% render_field segtrain_form.model class="js-proc-settings" %}
  {% render_field segtrain_form.override class="js-proc-settings" %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Train" %}{% endblock %}
