{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
(TODO: PLACEHOLDER)
{% endblock %}

{% block wizard_fields %}
<div class="form-group">
  <h5>{% trans "New model" %}</h5>
  {% render_field settings_form.new_model class="js-proc-settings" %}
  {% trans "Or" %} {% render_field settings_form.upload_model class="js-proc-settings" %}
</div>

<div class="form-group">
  <h5>{% trans "Or existing model" %}</h5>
  {% render_field settings_form.train_model class="js-proc-settings" %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Train" %}{% endblock %}
