{% extends 'core/wizards/_base.html' %}
{% load i18n bootstrap %}

{% block wizard_help %}
<p>{% trans "Only .pronn models are supported for now." %}</p>
<p>{% trans "Choose no model to create an empty transcription allowing to manually transcribe." %}</p>
<p>{% trans "Make sure that the segmentation is good before going forward because resegmenting will delete all bound transcriptions." %}
{% endblock %}

{% block wizard_fields %}
<div class="form-group">
  <h5>{% trans "Upload model" %}</h5>
  {% render_field settings_form.upload_model class="js-proc-settings" data_document=object.pk accept=".mlmodel" %}
</div>

<div class="form-group">
  <h5>{% trans "Or use existing model" %}</h5>
  {% render_field settings_form.ocr_model class="js-proc-settings" data_document=object.pk %}
</div>
{% endblock %}

{% block wizard_submit %}{% trans "Transcribe" %}{% endblock %}
