.escr-table {
    background-color: var(--background1);
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.escr-table tbody,
.escr-table thead,
.escr-table tr {
    width: 100%;
}
/* header row */
.escr-table thead tr {
    font-size: 12px;
    height: 32px;
    border-bottom: 1px solid var(--background);
}
.escr-table--compact thead tr {
    font-size: 10px;
    height: 26px;
}
.escr-table th {
    font-weight: 600;
    text-align: left;
}
.escr-table th div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* other rows */
.escr-table tbody tr {
    font-size: 14px;
    height: 64px;
    transition: background-color 0.15s ease-in-out;
    border-bottom: 1px solid var(--background);
}
.escr-table--compact tbody tr {
    height: 42px;
}
.escr-table tr td:first-of-type,
.escr-table tr th:first-of-type {
    padding: 0 0 0 16px;
}
.escr-table tr td:last-of-type {
    padding: 0 16px 0 0;
}
.escr-table tr td:only-of-type {
    padding: 0 0 0 16px;
}
.escr-table tbody tr:hover {
    background-color: var(--background2);
}
.escr-table tr td.with-img img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 5px;
    margin-right: 1.25rem;
}
.escr-table tr td.with-img img ~ * {
    vertical-align: middle;
}
/* sorting */
.escr-table th button.escr-sort-button {
    cursor: pointer;
    border: none;
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    color: var(--text1);
    padding: 0;
    transition: font-weight 0.15s ease-in-out, color 0.15s ease-in-out;
    font-weight: 600;
}
.escr-table--compact th button.escr-sort-button {
    font-size: 10px;
}
.escr-table th button.escr-sort-button svg {
    margin-left: 2px;
}
.escr-table th button.escr-sort-button:disabled {
    color: var(--text3);
    pointer-events: none;
    cursor: default;
}
/* linking */
.escr-table tr {
    position: relative;
}
/*
 * safari specific hack until the following are fixed:
 * https://bugs.webkit.org/show_bug.cgi?id=253147
 * https://bugs.webkit.org/show_bug.cgi?id=258886
 */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    .escr-table tr td {
        position: relative;
    }
}
.escr-table tr td a.row-link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.escr-table tbody tr:has(a:active),
.escr-table tbody tr:focus-within {
    background-color: var(--secondary-hover);
}
/* actions */
.escr-table td.escr-row-actions * {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}
.escr-table tr:hover td.escr-row-actions *,
.escr-table tr td.escr-row-actions:focus-within * {
    opacity: 1;
}
.escr-table td.escr-row-actions div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 18px;
    position: relative;
    z-index: var(--table-actions-z);
}
/* ensure tags dropdown above table row link */
.escr-table .v-popper--theme-tags-dropdown {
    z-index: var(--table-actions-z);
}
/* custom select checkboxes */
.escr-table .escr-select-checkbox {
    position: relative;
    z-index: var(--table-actions-z);
    margin: 0;
}
.escr-table .escr-select-checkbox:disabled,
.escr-table .escr-select-checkbox:has(input:disabled) {
    pointer-events: none;
}
.escr-table .escr-select-checkbox .checked,
.escr-table .escr-select-checkbox .unchecked {
    cursor: pointer;
    display: none;
}
.escr-table .escr-select-checkbox:has(input:checked) .checked {
    color: var(--secondary);
    display: block;
}
.escr-table .escr-select-checkbox:not(:has(input:checked)) .unchecked {
    color: var(--text1);
    display: block;
}
.escr-table .escr-select-checkbox:disabled .checked,
.escr-table .escr-select-checkbox:disabled .unchecked,
.escr-table .escr-select-checkbox:has(input:disabled) .checked,
.escr-table .escr-select-checkbox:has(input:disabled) .unchecked,
.escr-table--selectable tbody tr:has(input:disabled) {
    color: var(--text3);
    pointer-events: none;
}
.escr-table--selectable tbody tr:has(input:checked) {
    background-color: var(--line-ordering-selected);
    box-shadow: inset 4px 0px 0px 0px var(--secondary);
}
.escr-table--selectable .escr-select-column > div {
    display: flex;
    flex-flow: row;
}

/* drag and drop reorder functionality */
/* drag handle */
.escr-table--orderable tr td div .escr-drag-handle {
    position: absolute;
    left: 0;
    text-align: left;
    cursor: move;
    z-index: var(--table-actions-z);
    width: 100%;
    height: 100%;
}
/* drop zone */
.escr-table.escr-table--orderable tbody tr.escr-dropzone {
    position: relative;
    height: 1px;
    background-color: var(--background);
}
.escr-table.escr-table--orderable tbody tr.escr-dropzone td {
    position: absolute;
    width: 100%;
    border-top: 5px solid transparent;
    height: 32px;
    pointer-events: none;
}
.escr-table.escr-table--orderable tbody tr.escr-dropzone td.is-dragging {
    pointer-events: all;
    z-index: var(--sticky-table-header-z);
}
.escr-table.escr-table--orderable tbody tr.escr-dropzone td.is-dragging::before {
    display: block;
    position: absolute;
    margin-top: -36px;
    content: "";
    height: 32px;
    width: 100%;
    top: 0;
    left: 0;
}
.escr-table.escr-table--orderable tbody tr.escr-dropzone td.drag-over {
    border-top-color: var(--secondary-focus);
    z-index: var(--sticky-table-header-z);
}
.escr-table.escr-table--orderable thead tr,
.escr-table.escr-table--orderable tbody tr {
    border-width: 0;
}
.escr-table.escr-table--orderable thead tr {
    height: 31px;
}
.escr-table.escr-table--orderable tbody tr {
    height: 63px;
}
/*
 * safari specific hack
 */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    .escr-table.escr-table--orderable thead tr {
        height: 32px;
    }
}
/* disable links during drag */
.escr-table.escr-table--orderable tr td a.row-link {
    width: 0%;
    height: 0%;
}
/* drag image (what shows up while dragging) */
tr#is-drag-image {
    position: absolute;
    top: -1000px;
    color: var(--text1);
    background-color: var(--background1);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
tr#is-drag-image:has(input:checked) {
    background-color: var(--selected-background);
}
tr#is-drag-image .drag-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--drag-overlay);
}
/* element counter */
tr#is-drag-image .elements-count {
    position: absolute;
    top: -20px;
    left: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
    background-color: var(--tag-text);
    color: var(--button-text);
    z-index: var(--editor-nav-z);
}
body:has(#is-drag-image) {
    cursor: grabbing !important;
}
