/* overall */
.escr-button {
    border: none;
    color: var(--button-text);
    border-radius: 5px;
    padding: 0px 10px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
/* size */
.escr-button--small {
    min-height: 32px;
}
.escr-button--large {
    min-height: 38px;
    padding: 0px 16px;
}
/* filled */
.escr-button--primary {
    background-color: var(--primary);
}
.escr-button--secondary {
    background-color: var(--secondary);
}
.escr-button--tertiary {
    background-color: var(--tertiary);
}
.escr-button--danger {
    background-color: var(--alert);
}
/* outline */
.escr-button--outline-primary {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
}
.escr-button--outline-secondary {
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.escr-button--outline-tertiary {
    background-color: transparent;
    border: 1px solid var(--tertiary);
    color: var(--tertiary);
}
.escr-button--outline-danger {
    background-color: transparent;
    border: 1px solid var(--alert);
    color: var(--alert);
}
/* link */
.escr-button--link-primary {
    background-color: transparent;
    border: none;
    color: var(--primary);
}
.escr-button--link-primary.escr-button--small {
    font-size: 12px;
}
/* disabled */
.escr-button:disabled {
    pointer-events: none;
    color: var(--text3);
    background-color: var(--background2);
}
.escr-button:disabled[class*="escr-button--outline"] {
    background-color: transparent;
    border: 1px solid var(--text3);
}
.escr-button:disabled[class*="escr-button--link"] {
    background-color: transparent;
}
