{% extends "users/profile.html" %}
{% load i18n bootstrap static %}
{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-4">
      <h3>my teams</h3>
      {% for team in  my_teams.all %}
          <br><a href="{% url 'team-invite' pk=team.pk %}">{{ team }}</a>
      {% endfor %}
  </div>
  <div class="col-md-6 col-md-offset-4">
    <h3>Invite Users to {{ object }}</h3>
    <form method="post" action="{% url 'team-invite' pk=object.pk %}">
        {% csrf_token %}
        <fieldset>
{#        {%  render_field form.user %}#}
        {%  render_field form.email %}

        <input type="submit" value="{% trans 'Add' %}" class="btn btn-lg btn-success btn-block">
      </fieldset>
    </form>
    <h3>Remove user from  {{ object }}</h3>
    <form method="post" action="{% url 'team-remove-user' pk=object.pk %}">
        {% csrf_token %}
        {%  render_field form.email %}
        <button type="submit" class="nav-item btn btn-danger" title="remove"><i class="fas fa-trash"></i>Remove</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
