#for python 3.7 you need recent versions of celery (> 4.2)
git+https://github.com/celery/kombu.git@4.6.6#egg=kombu
git+https://github.com/celery/celery.git@4.4.0rc4#egg=celery
Pillow>=5.4.1
Django>=2.2,<3
redis==3.2.1
uwsgi==2.0.18
daphne==2.5.0
channels==2.4.0
channels-redis>=2.4.1,<3
django-redis==4.10.0
psycopg2-binary==2.7.6
django-ordered-model==3.1.1
easy-thumbnails==2.5
kraken==3.0.7
django-cleanup==5.1.0
djangorestframework==3.9.2
drf-nested-routers==0.91
bleach==3.1.5
beautifulsoup4==4.7.1
requests==2.21.0
numpy>=1.17
albumentations
django-simple-captcha==0.5.12
pyvips==2.1.12
scikit-image==0.17.2
scikit-learn==0.19.2
scipy==1.5.2
django-prometheus
