from escriptorium.settings import *
from django.utils.translation import gettext_lazy as _

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': os.getenv('SQL_ENGINE', 'django.db.backends.postgresql'),
        'NAME': os.getenv('SQL_DATABASE', 'escriptorium'),

        # Needed for some configuration
        # 'USER': os.getenv('POSTGRES_USER', 'provideyourusernamehere'),
        # 'PASSWORD': os.getenv('POSTGRES_PASSWORD', 'provideyourpasswordhere'),
    }
}

# enable french and german
LANGUAGES = [
    ('en', _('English')),
    ('fr', _('French')),
    ('de', _('German'))
]

# disables cache for dev env
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}

# INSTALLED_APPS += ['debug_toolbar', 'django_extensions']
# MIDDLEWARE += ['debug_toolbar.middleware.DebugToolbarMiddleware']
INTERNAL_IPS = ['127.0.0.1']

# only needed in development
EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = '/tmp/django-emails'

# KRAKEN_TRAINING_DEVICE = 'cuda:0'

DEBUG_TOOLBAR_PANELS = [
    'debug_toolbar.panels.versions.VersionsPanel',
    'debug_toolbar.panels.timer.TimerPanel',
    'debug_toolbar.panels.settings.SettingsPanel',
    'debug_toolbar.panels.headers.HeadersPanel',
    'debug_toolbar.panels.request.RequestPanel',
    'debug_toolbar.panels.sql.SQLPanel',
    # 'debug_toolbar.panels.staticfiles.StaticFilesPanel',
    'debug_toolbar.panels.templates.TemplatesPanel',
    'debug_toolbar.panels.cache.CachePanel',
    'debug_toolbar.panels.signals.SignalsPanel',
    'debug_toolbar.panels.logging.LoggingPanel',
    'debug_toolbar.panels.redirects.RedirectsPanel',
]

# USE_CELERY = False
# CELERY_TASK_ALWAYS_EAGER = True

# LOGGING['loggers']['kraken']['level'] = 'DEBUG'

# CUSTOM_HOME = True

# Uncomment the two following variables to enable customized OpenITI export modes
# EXPORT_OPENITI_MARKDOWN_ENABLED = True
# EXPORT_TEI_XML_ENABLED = True

# --- SEARCH FEATURE ---
# Uncomment the following line to enable Elasticsearch
# DISABLE_ELASTICSEARCH = False

# Set this variable to point to your ES instance (defaults to 'http://localhost:9200')
# ELASTICSEARCH_URL = <es_url>

# Set this variable to define the common ES index (defaults to 'es-transcriptions')
# ELASTICSEARCH_COMMON_INDEX = <common_index_name>

# Uncomment the following line to enable text alignment with Passim
# TEXT_ALIGNMENT_ENABLED = True

# Uncomment the following line to disable alignment tempfile cleanup (will use extra space)
# KEEP_ALIGNMENT_TEMPFILES = True
