{% extends 'base.html' %}
{% load i18n staticfiles %}

{% comment %}
Todo:
* constraints
* left click & free drawing & tablet
* rectangle cut
* click to upload
* zoom
* validation & errors
* integration callbacks
* regions
* (history)

{% endcomment %}

{% block body %}
<div>
  <button id="toggle-polygons" title="{% trans "Show line masks." %}" class="btn m-1 btn-info fas fa-mask"></button>
  <button id="split-lines" title="{% trans "Divide lines arround a drawn line." %}" class="btn m-1 btn-info fas fa-cut"></button>
  <button id="merge-lines" title="{% trans "Merge selected lines." %}" class="btn m-1 btn-info fas fa-compress-arrows-alt"></button>
  <span id="color0" width="20px" height="20px">1</span>
  <span id="color1" width="20px" height="20px">2</span>
  <span id="color2" width="20px" height="20px">3</span>
  <span id="color3" width="20px" height="20px">4</span>
  <span id="color4" width="20px" height="20px">5</span>
  <button id="import-btn" title="{% trans "Import." %}" class="btn btn-primary ml-5 fas fa-file-import"></button>
  <button id="export-btn" title="{% trans "Export." %}" class="btn btn-primary ml-1 fas fa-file-export"></button>
  <input type="text" id="export-input" class="hide w-100"/>
  <input type="text" id="import-input" class="hide w-100"/>
  
</div>
<div id="container" class="w-50 align-middle text-center d-inline-block" style="position: relative; min-height: 200px; border: 1px dashed teal;">
  <input type="file" id="file-input" class="hide" />
  <img id="seg" class="w-100"/>
  <i id="delete-point" title="{% trans "Delete point." %}" class="hide btn btn-sm btn-warning fas fa-trash"></i>
  <i id="delete-line" title="{% trans "Delete all selected lines." %}" class="hide btn btn-sm btn-danger fas fa-trash"></i>
</div>
<div class="d-inline-block ml-5" style="width: 40%; vertical-align: top;">
    <h2>Explanations</h2>
    <p>Wellcome to this beta test of the baseline editor and thank you for participating!
      <br/>The goal is to test the editor in different conditions and gather feedbacks about it.
    </p>

    <h3>Usage</h3>
    <p><b>Drop</b> a picture in the dashed rectangle to initialise the baseline editor.
    <br/><b>Right click</b> on the image to <b>create</b> new line, <b>Left click</b> to <b>add points</b> and <b>right click</b> to finish it.
    <br/>You can keep the mouse button pressed for free drawing.
    <br/>
    <br/><b>Left click</b> on a line to select it, then you can drag the line (the closest point) to update it.
    <br/>If you click exactly on a point, a yellow trash button <i class="fas fa-trash"></i> appears allowing to delete it.
    <br/>Double click on the line will create a new point at the mouse location.
    <br/>shift+click allows to add a line to the selection, shift and dragging creates a lasso selection tool.
    <br/>ctrl+dragging allows to move the entire selection at once.
    <br/>Hitting escape while drawing a line cancels it.

    <br/><br/>Reload the editor (f5) if you want to try a new image.
    </p>

    <h3>Results</h3>
    <p>What I'm most interested about is which is the most pleasant, the fastest and most precise to use depending on the different use cases.
    <br/>Including short or long lines, curved or straigt, high or low resolution image and the different devices.
    <br/>If the results are really not significant, ie if the preference doesn't go one way or the other, we may think about keeping both but it's really not ideal in term of maintenance.
    </p>

    <h3>Notes</h3>
    <p>You can show the line mask <i class="fas fa-mask"></i> but it's not the focus of this test.
    <br/>The colors chosen depends on the image, you can see the color palette on top of the image, the script is very naïve so if you encounter case where it doesn't work well also report it.
    <br/>Please don't hesitate with any remarks or feedback,
    <br/>Thank you.
    </p>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'vendor/paperjs/paper-core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/color-thief.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/baseline.editor.js' %}" canvas="segmentation-canvas"></script>
<script>
(function() {
    var segmenter = null;
    var imgRatio;
    
    function handleFileUpload(files, file) {
        var reader = new FileReader();
        reader.onload = function() {
            img.src = reader.result;         
            segmenter = new Segmenter(img,
                                      {delayInit:true});
            img.addEventListener('load', function(ev) {
                imgRatio = this.width / this.naturalWidth;
                segmenter.init();
            });
        };
        reader.readAsDataURL(file);
    }
    
    var img = document.getElementById('seg');
    img.ondragstart = function(e) { return false; };

    var container = document.getElementById('container');
    container.addEventListener('dragenter', function(e) {
        e.preventDefault();
    }, false);

    container.addEventListener('dragover', function(e) {
        e.preventDefault();
    }, false);
    

    function containerOnClick(e) {
       document.getElementById('file-input').click();
    }

    function imgTransfer(e) {
        e.preventDefault();
        var imageTypes = ['image/png', 'image/gif', 'image/bmp', 'image/jpg', 'image/jpeg'];
        if (e.target.files || (e.dataTransfer && e.dataTransfer.files)) {
            var files = e.target.files || e.dataTransfer.files;
            if (imageTypes.indexOf(files[0].type) == -1) return;
            container.removeEventListener('click', containerOnClick);
            handleFileUpload(files, files[0]);
        }
    }

    container.addEventListener('click', containerOnClick, false);
    document.getElementById('file-input').addEventListener('change', imgTransfer, false);
    container.addEventListener('drop', imgTransfer, false);

    var eInput = document.getElementById('export-input');
    var iInput = document.getElementById('import-input');
    document.getElementById('import-btn').addEventListener('click', function(e) {
        eInput.style.display = 'none';
        iInput.value = '';
        iInput.style.display = 'block';
        iInput.focus();
        // [[[283,191],[671,190]],[[286,260],[794,301]],[[401,401],[401,401],[680,388]]]
    });
    iInput.addEventListener('blur', function(e) {
        if (!iInput.value) return;
        let data = JSON.parse(iInput.value);
        data = data.map(poly => poly.map(pt => pt.map(coord => coord * imgRatio)));
        segmenter.load(data);
        iInput.value = '';
    });
    
    document.getElementById('export-btn').addEventListener('click', function(e) {
        iInput.style.display = 'none';
        eInput.value = JSON.stringify(segmenter.lines.map(function(line) {
            return line.baseline.map(poly => poly.map(coord => Math.round(coord / imgRatio)));
        }));
        eInput.style.display = 'block';
        eInput.focus();
        eInput.select();
    });
    
})();
</script>
{% endblock %}
