{% extends 'core/document_nav.html' %}
{% load i18n staticfiles %}
{% load compress %}

{% block nav-edit-active %}active{% endblock %}

{% block extra_info %}
  <span id="part-title" v-if="part.loaded">${part.title} - ${part.filename} - (${imageSize})</span>
  <span class="loading" v-if="!part.loaded">{% trans "Loading&#8230;" %}</span>
</div>
<div class="nav-item ml-auto mr-auto">
  <select v-model="selectedTranscription" id="document-transcriptions" title="{% trans 'Transcription' %}" class="form-control custom-select mb-2">
    {% for transcription in document.transcriptions.all %}
    <option value="{{ transcription.pk }}">{{ transcription.name }}</option>
    {% endfor %}
  </select>
{% endblock %}

{% block extra_nav %}
<div class="nav-item ml-auto">
  <button @click="toggleSource" type="button" data-target="source" class="open-panel nav-item btn" v-bind:class="[ show.source ? 'btn-primary' : 'btn-secondary' ]" title="{% trans "Source Image" %}"><i class="fas fa-eye"></i></button>
  <button @click="toggleSegmentation" type="button" data-target="seg" class="open-panel nav-item btn" v-bind:class="[ show.segmentation ? 'btn-primary' : 'btn-secondary' ]" title="{% trans "Segmentation" %}"><i class="fas fa-align-left"></i></button>
  <button @click="toggleVisualisation" type="button" data-target="trans" class="open-panel nav-item btn" v-bind:class="[ show.visualisation ? 'btn-primary' : 'btn-secondary' ]" title="{% trans "Transcription" %}"><i class="fas fa-language"></i></button>
  <button @click="toggleDiplomatic" type="button" data-target="diplomatic" class="open-panel nav-item btn" v-bind:class="[ show.diplomatic ? 'btn-primary' : 'btn-secondary' ]" title="{% trans "Diplomatic" %}"><i class="fas fa-language"></i></button>
</div>
{% endblock %}

{% block tab_content %}
<div class="row">
<div class="col-sides">
  {% if document.read_direction == 'rtl' %}
  <a id="next-part" v-if="part.next" href="#" v-on:click="getNext" class="nav-btn nav-next" title="{% trans "Next (Page Down or Ctrl+Left Arrow)" %}"><i class="fas fa-angle-left"></i></a>
  {% else %}
  <a id="prev-part" v-if="part.previous" href="#" v-on:click="getPrevious" class="nav-btn nav-prev" title="{% trans "Previous (Page Up or Ctrl+Right Arrow)" %}"><i class="fas fa-angle-left"></i></a>
  {% endif %}
  <div>
    <button id="zoom-reset" v-on:click="resetZoom" class="btn btn-sm btn-info" title="{% trans "Reset zoom." %}"><i class="fas fa-search-minus"></i></button>
    <input id="zoom-range" type="range" name="zoom-range" class="form-control-range mt-1" orient="vertical" v-bind:min="zoom.minScale" v-bind:max="zoom.maxScale" step="0.5" v-model="zoomScale">
  </div>
</div>

<SourcePanel v-if="show.source" v-bind:part="part" v-bind:full-size-image="fullSizeImage" ref="sourcePanel" inline-template>
  <div class="col panel">
    <div class="tools">
      <i title="{% trans 'Source Panel' %}" class="panel-icon fas fa-eye"></i>
    </div>
    <div class="content-container">
      <div id="source-zoom-container" class="content">
        <img class="panel-img" v-bind:src="imageSrc"/>
        <div class="overlay panel-overlay">
          <svg width="100%" height="100%">
            <defs>
              <mask id="source-overlay">
                <rect width="100%" height="100%" fill="white"/>
                <polygon points=""/>
              </mask>
            </defs>
            <rect fill="grey" opacity="0.5" width="100%" height="100%" mask="url(#source-overlay)" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</SourcePanel>

<keep-alive>
<SegmentationPanel v-if="show.segmentation" v-bind:part="part" v-bind:full-size-image="fullSizeImage" ref="segPanel" inline-template>
  <div class="col panel">
    <div class="tools">
      <i title="{% trans 'Segmentation Panel' %}" class="panel-icon fas fa-align-left"></i>
      <div class="btn-group">
        <button id="undo" title="{% trans "Undo. (Ctrl+Z)" %}" class="btn btn-outline-dark ml-3 fas fa-undo" autocomplete="off" disabled></button>
        <button id="redo" title="{% trans "Redo. (Ctrl+Y)" %}" class="btn btn-outline-dark fas fa-redo" autocomplete="off" disabled></button>
      </div>

      <div class="btn-group">
        <button id="toggle-settings" title="{% trans "Editor settings." %}" class="btn btn-info ml-3 fas fa-cogs dropdown-toggle" type="button" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div id="be-settings-menu" class="dropdown-menu">
          <div><input id="be-bl-color" type="color"/> <label for="be-even-bl-color">{% trans "Baselines" %}</label></div>
          <div><input id="be-even-mask-color" type="color"/> <label for="be-odd-bl-color">{% trans "Even Masks" %}</label></div>
          <div><input id="be-odd-mask-color" type="color"/> <label for="be-odd-mask-color">{% trans "Odd Masks" %}</label></div>
          <div><input id="be-dir-color" type="color"/> <label for="be-dir-color">{% trans "Direction hints" %}</label></div>
          <div><input id="be-reg-color" type="color"/> <label for="be-reg-color">{% trans "Regions" %}</label></div>
          <!-- <div class="dropdown-divider"></div> -->
          <!-- {% trans "Line thickness" %}<input type="slider"/> -->
        </div>
      </div>
      <button v-if="hasBinaryColor" @click="toggleBinary" v-bind:class="[colorMode == 'binary' ? 'btn-success' : 'btn-info']"  id="toggle-binary" title="{% trans "Toggle binary image." %}" class="btn fas fa-adjust" autocomplete="off"></button>
      <div class="btn-group">
        <button id="be-toggle-regions" title="{% trans "Switch to region mode. (R)" %}" class="btn btn-info fas fa-th-large" autocomplete="off"></button>
        <button id="be-toggle-order" title="{% trans "Toggle ordering display. (L)" %}" class="btn btn-info fas fa-sort-numeric-down" autocomplete="off"></button>
        <button id="be-toggle-masks" title="{% trans "Show line masks. (M)" %}" class="btn btn-info  fas fa-mask"></button>
      </div>
      <div class="btn-group">
        <button id="be-split-lines" title="{% trans "Cut through lines. (C)" %}" class="btn btn-warning fas fa-cut"></button>
      </div>

      {# help #}
      <button v-if="!part.hasMasks && part.lines.length > 0" v-on:click="processLines" class="btn btn-success fas fa-thumbs-up ml-auto" title="{% trans "Segmentation is ready for mask calculation!" %}"></button>
      <button id="segmentation-help" title="{% trans "Help." %}" class="btn btn-info fas fa-question help nav-item ml-2"></button>
      <div class="alert alert-primary help-text hide">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          {% blocktrans %}
          <p>
            <b>Left click</b> on the image to <u>create</u> new line, <b>Right click</b> to <b>add points</b> and <b>Left click</b> again to <u>finish</u> it.
            <br/>You can keep the mouse button pressed for free drawing.
            <br/>Hitting <b>escape</b> while drawing a line <u>cancels</u> it.
            <br/>If regions matter to you switch to region mode first <i class="fas fa-th-large"></i> (R key).
            <br/>when in region mode <b>Left click</b> to create a new rectangular region, left click again to finish it.
            <br/>lines drawn inside a region will automatically be bound to it.
            <br/>When the quality of the segmentation is good, you can prompt the system to calculate masks <i class="text-success fas fa-thumbs-up"></i>,
            <br/>once a page already has masks new lines will automatically get a mask and updating a line will also recalculate its mask.
            <br/><b>Note</b> that the quality of the masks is highly dependent on the quality of the whole segmentation, not only the corresponding line,
            <br/>so make sure to draw all the lines before calculating the masks.
            <br>You can also have the option to calculate the masks <i>en masse</i> in the Images tab -> segment -> choose 'Only masks'.
          </p>
          <p>
            <b>Left click</b> on a line to selects it, then you can drag it's closest control point.
            <br/><b>Double click</b> on the line will create a <u>new control point</u> at the mouse location.
            <br/>You can reverse the order of the line's points by selecting a line (or multiple) and using reverse <i class="fas fa-arrow-alt-h"></i> (I key).
            <br/>When in region mode, Regions can be edited the same way.
            <br/>Selected lines can be linked or unlinked to regions with the corresponding buttons <i class="fas fa-link"></i> <i class="fas fa-unlink">.</i>
            <br/>By using the cut mode <i class="text-warning fas fa-cut"></i> (C key) you can cut through lines, splitting them in two or removing part of them.
            <br/>If at least two lines are selected a option to join them becomes available <i class="fas fa-compress-arrows-alt"></i> (J key).
            <br/>You can go through your changes <u>history</u> back and forth with <b>Ctrl+Z</b>(undo) and <b>Ctrl+Y</b>(redo) or by using the corresponding buttons <i class="fas fa-undo"></i><i class="fas fa-redo"></i>.
          </p>
          <p>
            <b>Shift+click</b> allows to add or remove a line from the <u>selection</u>,
            <br/>Clicking on an empty space clears the selection,
            <br/><b>shift and drag</b> creates a <u>lasso</u> selection tool that allows to select control points (they then appear black).
            <br/><b>Note:</b> If lines are already selected the lasso will only select points in those lines.
            <br/><b>Ctrl+drag</b> allows to move all the selected control points at once (or the selected lines if no control points are selected).

            <br/>The red trash <i class="text-danger fas fa-trash"></i> button <b>deletes</b> all selected <b>lines/regions</b>,
            <br/>The yellow trash button <i class="text-warning fas fa-trash"></i> only <b>deletes</b> selected control <b>points</b>.
          </p>
          {% endblocktrans %}
        </div>
      </div>
    </div>

    <div id="context-menu">
      <button id="be-link-region" title="{% trans "Link selected lines to (the first detected) background region." %}" class="hide btn btn-info m-1 fas fa-link"></button>
      <button id="be-unlink-region" title="{% trans "Unlink selected lines from their region." %}" class="hide btn btn-info m-1 fas fa-unlink"></button>
      <button id="be-delete-point" title="{% trans "Delete selected points. (ctrl+suppr)" %}" class="hide btn btn-warning m-1 fas fa-trash"></button>
      <button id="be-merge-selection" title="{% trans "Join selected lines. (J)" %}" class="hide btn btn-info fas m-1 fa-compress-arrows-alt"></button>
      <button id="be-reverse-selection" title="{% trans "Reverse selected lines. (I)" %}" class="hide btn btn-info fas m-1 fa-arrows-alt-h"></button>
      <button id="be-delete-selection" title="{% trans "Delete all selected lines/regions. (suppr)" %}" class="hide btn m-1 btn-danger fas fa-trash"></button>
    </div>

    <div class="content-container">
      <div id="seg-zoom-container" class="content">
       <segregion v-if="segmenter.loaded"
                  v-for="region in part.regions"
                  v-bind:region="region"
                  v-bind:key="region.pk"
                  inline-template>
          <div class="hide">
            <input name="box" v-bind:value="region.box"/>
          </div>
        </segregion>

        <segline v-if="segmenter.loaded"
                 v-for="line in part.lines"
                 v-bind:line="line"
                 v-bind:key="line.pk"
                 inline-template>
          <div class="hide">
            <input name="order" v-bind:value="line.order"/>
            <input name="baseline" v-bind:value="line.baseline"/>
            <input name="mask" v-bind:value="line.mask"/>
            <input name="region" v-bind:value="line.region"/>
          </div>
        </segline>

        <img class="panel-img" v-bind:src="imageSrcBin"/>
        <div id="segmentation-overlay" class="overlay panel-overlay">
          <svg width="100%" height="100%">
            <defs>
              <mask id="seg-overlay">
                <rect x="0" y="0" width="100%" height="100%" fill="white"/>
                <polygon points=""/>
              </mask>
            </defs>
            <rect x="0" y="0" fill="grey" opacity="0.5" width="100%" height="100%" mask="url(#seg-overlay)" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</SegmentationPanel>
</keep-alive>

<keep-alive>
<VisuPanel v-if="show.visualisation" v-bind:part="part" ref="visuPanel" inline-template>
  <div class="col panel">
    <div class="tools">
      <i title="{% trans 'Transcription Panel' %}" class="panel-icon fas fa-language"></i>
    </div>
    <div class="content-container">
      <div id="visu-zoom-container" class="content">
        {% with text_direction=document.default_text_direction %}
        <svg v-if="part.loaded" class="w-100 {{ text_direction }}">
          <visuline v-for="line in part.lines"
                    v-bind:line="line"
                    v-bind:ratio="ratio"
                    v-bind:key="line.pk"
                    inline-template>
            <g v-on:mouseover="showOverlay" v-on:mouseleave="hideOverlay" v-on:click="edit">
              <polygon fill="transparent" stroke="lightgrey" v-bind:points="maskPoints"/>
              <path v-bind:id="textPathId" fill="none" stroke="blue" v-bind:d="baselinePoints"></path>
              <text {% if text_direction == 'rtl' %}text-anchor="end"{% endif %} lengthAdjust="spacingAndGlyphs">
                <textPath v-bind:href="'#' + textPathId">${line.transcription.content}</textPath>
              </text>
            </g>
          </visuline>
        </svg>
        {% endwith %}
      </div>
    </div>

    <TranscriptionModal v-if="editLine" v-bind:line="editLine" inline-template>
      <div id="trans-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="transModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              {% if document.read_direction == 'rtl' %}
              <button v-on:click="$parent.editNext()" type="button" id="next-btn" class="btn btn-sm mr-1 btn-secondary" title="{% trans "Next" %}"><i class="fas fa-arrow-circle-left"></i></button>
              <button v-on:click="$parent.editPrevious()" type="button" id="prev-btn" class="btn btn-sm btn-secondary" title="{% trans "Previous" %}"><i class="fas fa-arrow-circle-right"></i></button>
              {% else %}
              <button v-on:click="$parent.editPrevious()" type="button" id="prev-btn" class="btn btn-sm mr-1 btn-secondary" title="{% trans "Previous" %}"><i class="fas fa-arrow-circle-left"></i></button>
              <button v-on:click="$parent.editNext()" type="button" id="next-btn" class="btn btn-sm btn-secondary" title="{% trans "Next" %}"><i class="fas fa-arrow-circle-right"></i></button>
              {% endif %}

              <h5 class="modal-title ml-3" id="modal-label">{% trans "Line" %} #${line.order + 1}</h5>

              <button type="button" class="close" v-on:click="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body {{ document.default_text_direction }}">
              <div id="modal-img-container" width="80%">
                <img id="line-img" v-bind:src="modalImgSrc" draggable="false" selectable="false"/>
                <div class="overlay">
                  <svg width="100%" height="100%">
                    <defs>
                      <mask id="modal-overlay">
                        <rect width="100%" height="100%" fill="white"/>
                        <polygon points=""/>
                      </mask>
                    </defs>
                    <rect fill="grey" opacity="0.5" width="100%" height="100%" mask="url(#modal-overlay)" />
                  </svg>
                </div>
              </div>

              <div id="trans-input-container">
                <input v-on:keyup.down="$parent.editNext" v-on:keyup.up="$parent.editPrevious" id="trans-input" name="content" class="form-control mb-2" v-on:keyup.enter="$parent.editNext" v-model.lazy="localTranscription" autocomplete="off" autofocus/>
                <small v-if="line.transcription.pk" class="form-text text-muted">
                  <span>by ${line.transcription.version_author} (${line.transcription.version_source})</span>
                  <span>on ${momentDate}</span>
                </small>
              </div>

              <a href="#" data-toggle="collapse" data-target="#history">{% trans "Show history" %}</a>
              <div id="history" class="collapse">
                <div class="d-flex flex-column">
                  <div v-if="!line.transcription.versions.length">{% trans "History is empty." %}</div>
                  <LineVersion v-for="version in line.transcription.versions" v-bind:version="version" v-bind:key="version.revision" inline-template>
                    <div class="d-flex flex-row justify-content-between">
                      <div class="">${ versionContent }</div>
                      <div class="">${ version.author } ( ${ version.source } )</div>
                      <div class="">${ momentDate }</div>
                      <div class="">
                        <button v-on:click="loadState" class="btn btn-sm btn-info js-pull-state" title="{% trans "Load this state" %}">
                          <i class="fas fa-file-upload"></i>
                        </button>
                      </div>
                    </div>
                  </LineVersion>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </TranscriptionModal>
  </div>
</VisuPanel>
</keep-alive>

<keep-alive>
  <DiploPanel v-if="show.diplomatic" v-bind:part="part" ref="diploPanel" inline-template>
    <div class="col panel" dir="{{ document.read_direction }}">
      <div class="tools">
        <i title="{% trans 'Transcription Panel' %}" class="panel-icon fas fa-language"></i>
        <button v-if="save" @click="toggleSave" class="btn btn-success" id="save-diplomatic" title="{% trans "Save Line content" %}">Save</button>
      </div>
      <div v-if="part" id="diplomatic-lines" class="content-container" style="max-height:40%;overflow-y: scroll;">
        <diploline v-for="line in part.lines" v-bind:line="line" v-bind:ratio="ratio" v-bind:key="line.pk"   inline-template>
          <div class="d-flex flex-column diplomatic-line">
            <div  class="d-flex flex-row">
              <div class ="table-row line-order line-order-{{ document.read_direction }}" class="w-10">${line.order + 1}</div>
              <div dir="{{ document.read_direction }}"
                   v-bind:id="line.pk"
                   v-on:mouseup="editableContent"
                   v-on:mousedown="setEdit"
                   v-on:mouseover="showOverlay"
                   v-on:mouseleave="hideOverlay"
                   v-on:keydown.enter="$parent.editNext"
                   v-on:keyup="pushUpdate"
                   v-on:paste="onPast"
{#                   v-bind:draggable="true"#}
                   v-on:dragstart="$parent.dragStart(line,$event)"
                   @dragover.prevent
                   v-on:dragleave="$parent.dragLeave"
                   v-on:dragend="$parent.dragEnd"
                   v-on:drop="$parent.dragFinish(line,$event)"
                   class="w-95 table-row line-content" ref="content" >${line.transcription.content}</div>
            </div>
          </div>
        </diploline>
      </div>
    </div>
  </DiploPanel>
</keep-alive>

<div class="col-sides">
  {% if document.read_direction == 'rtl' %}
  <a id="prev-part" v-if="part.previous" v-on:click="getPrevious" href="#" class="nav-btn nav-prev" title="{% trans "Previous (Page Up or Ctrl+Left Arrow)" %}"><i class="fas fa-angle-right"></i></a>
  {% else %}
  <a id="next-part" v-if="part.next" v-on:click="getNext" href="#" class="nav-btn nav-next" title="{% trans "Next (Page Down or Ctrl+Right Arrow)" %}"><i class="fas fa-angle-right"></i></a>
  {% endif %}
</div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
  const READ_DIRECTION = '{{document.read_direction}}';
  const TEXT_DIRECTION = '{{document.main_script.text_direction}}';
  const DOCUMENT_ID = '{{document.id}}';
  var PART_ID = {{part.id}};  // can be changed with next & previous pages
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.2.5/math.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% compress js file part_edit %}
    <script type="text/javascript" src="{% static 'js/help.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/paperjs/paper-core.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/color-thief.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/moment/moment-with-locales.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/moment/moment-timezone-with-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/undomanager.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/lodash/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jquery/jquery-ui.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/wheelzoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/baseline.editor.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/edit/components/base_panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/base_line.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/edit/components/source_panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/seg_line.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/seg_panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/line_version.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/trans_modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/visu_line.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/visu_panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/diplo_line.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/components/diplo_panel.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/store/part.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit/main.js' %}"></script>
{% endcompress %}
{% endblock %}
