{% extends 'base.html' %}
{% load i18n staticfiles %}

{% comment %}
TODO:
polygons
history
dynamic color
cut through?
regions?
without baseline
loading
zoom? edit mode? gnnn
{% endcomment %}

{% block body %}
<div>
<span id="color1" width="20px" height="20px">1</span>
<span id="color2" width="20px" height="20px">2</span>
<span id="color3" width="20px" height="20px">3</span>
<span id="color4" width="20px" height="20px">4</span>
<span id="color5" width="20px" height="20px">5</span>
</div>
<div style="position: relative;">
  <img id="seg" src="/media/documents/56/hymn.png.1110x0_q85_crop-scale.jpg">
  {# <img id="seg" src="/media/documents/63/0_dbbbb_default.png" width="100%" height="100%"> #}
  {# <img id="seg" src="/media/documents/64/imports.png" width="100%" height="100%"> #}
  <canvas id="segmentation-canvas"></canvas>
  <i id="delete-point" class="hide btn btn-sm btn-warning fas fa-trash"></i>
  <i id="delete-line" class="hide btn btn-sm btn-danger fas fa-trash"></i>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vendor/paperjs/paper-core.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/color-thief.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/segmentation.js' %}" canvas="segmentation-canvas"></script>
<script canvas="MyCanvas">
$(document).ready(function() {
    $('#segmentation-canvas').css({
        position: 'absolute',
        width: '100%',
        height: '100%',
        left: 0
    });

    var segmenter = new Segmenter(
        document.getElementById('segmentation-canvas'),
        document.getElementById('seg')
    );
});
</script>
{% endblock %}
