{% extends 'core/document_nav.html' %}
{% load i18n staticfiles report bootstrap cache %}
{% block head_title %}{% trans "Document report" %}{% endblock %}

{% block nav-reports-active %}active{% endblock %}

{% block extra_nav %}
{% endblock %}

{% block tab_content %}
    <div id="doc_report">
        <div class="row">
            <div class="col-2" id="document_list">
                <span>Transcription</span>
                <form method="GET">
                    <select id="document-transcriptions"
                            name="transcription"
                            title="Transcription"
                            class="form-control custom-select"
                            onchange="this.form.submit()">
                        <option value="all">All</option>
                        {% for transcription in all_transcriptions %}
                            <option
                                value="{{ transcription.pk }}"
                                {% if selected_transcription and selected_transcription.pk == transcription.pk %}selected{% endif %}>
                                {{ transcription.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
            <div class="col-10">
                <div class="mb-4 row justify-content-center"><h4>{% trans 'Data metrics' %}</h4></div>
                <div class="mb-4 row">
                    <div class="col">
                        <div class="card border-primary text-center h-100">
                            <i class="far fa-file-image card-header"></i>
                            <div class="card-body">
                                <h5 class="card-title">{% trans 'Total number of document parts' %}</h5>
                                <h2 class="card-title">{{ part_count|default:"0" }}</h2>
                                <p class="card-text">{% trans 'A document part corresponds to one image loaded within a document.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-primary text-center h-100">
                            <i class="far fa-file-image card-header"></i>
                            <div class="card-body">
                                <h5 class="card-title">{% trans 'Transcribed document parts' %}</h5>
                                <h2 class="card-title">{{ transcribed_part_count|default:"0" }}/{{ part_count|default:"0" }}</h2>
                                <p class="card-text">{% trans 'The number of transcribed images in the selected transcription(s).' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-primary text-center h-100">
                            <i class="fas fa-stream card-header"></i>
                            <div class="card-body">
                                <h5 class="card-title">{% trans 'Average OCR confidence' %}</h5>
                                <h2 class="card-title">{{ avg_ocr_confidence|default:0|format_percentage:2 }}</h2>
                                <p class="card-text">{% trans 'Confidence is the metric used by an OCR transcription model to estimate its own accuracy per character.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
