{% extends "base.html" %}
{% load i18n timedelta %}

{% block body %}
<h1>{% trans 'Leaderboard' %}</h1>
<div>
  <table class="table table-hover">
    <tr>
      <th colspan="5"></th>
      <th colspan="2" class="text-center">
        <span class="badge badge-pill badge-primary">{% trans "Total" %}</span>
      </th>
      <th colspan="2" class="text-center">
        <span class="badge badge-pill badge-info">{% trans "Last week" %}</span>
      </th>
      <th colspan="2" class="text-center">
        <span class="badge badge-pill badge-success">{% trans "Last day" %}</span>
      </th>
    </tr>
    <tr>
      <th>{% trans "User ID" %}</th>
      <th>{% trans "Username" %}</th>
      <th>{% trans "Disk usage" %}</th>
      <th>{% trans "CPU usage" %}</th>
      <th>{% trans "GPU usage" %}</th>
      <th>{% trans "No. of tasks" %}</th>
      <th>{% trans "Runtime" %}</th>
      <th>{% trans "No. of tasks" %}</th>
      <th>{% trans "Runtime" %}</th>
      <th>{% trans "No. of tasks" %}</th>
      <th>{% trans "Runtime" %}</th>
    </tr>
    {% for user in page_obj %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td {% if enforce_quotas and user.disk_storage_limit != None and user.disk_usage >= user.disk_storage_limit %}class="text-danger"{% endif %}>
        {{ user.disk_usage|filesizeformat }}{% if enforce_quotas and user.disk_storage_limit != None %}/{{ user.disk_storage_limit|filesizeformat }}{% endif %}
      </td>
      <td>
          <span {% if enforce_quotas and user.cpu_minutes_limit != None and user.last_week_cpu_usage >= user.cpu_minutes_limit %}class="text-danger"{% endif %} title="{% trans "Last week" %}">
            {{ user.last_week_cpu_usage|default_if_none:0|floatformat:2 }}{% if enforce_quotas and user.cpu_minutes_limit != None %}/{{ user.cpu_minutes_limit }}{% endif %} CPU-min
          </span>
          <br>
          <small title="{% trans "All time" %}">(total {{ user.total_cpu_usage|default_if_none:0|floatformat:2 }} CPU-min)</small>
      </td>
      <td>
          <span {% if enforce_quotas and user.gpu_minutes_limit != None and user.last_week_gpu_usage >= user.gpu_minutes_limit %}class="text-danger"{% endif %} title="{% trans "Last week" %}">
            {{ user.last_week_gpu_usage|default_if_none:0|floatformat:2 }}{% if enforce_quotas and user.gpu_minutes_limit != None %}/{{ user.gpu_minutes_limit }}{% endif %} GPU-min
          </span>
          <br>
          <small title="{% trans "All time" %}">(total {{ user.total_gpu_usage|default_if_none:0|floatformat:2 }} GPU-min)</small>
      </td>
      <td>{{ user.total_tasks }}</td>
      <td>{{ user.total_runtime|format_timedelta }}</td>
      <td>{{ user.last_week_tasks }}</td>
      <td>{{ user.last_week_runtime|format_timedelta }}</td>
      <td>{{ user.last_day_tasks }}</td>
      <td>{{ user.last_day_runtime|format_timedelta }}</td>
    </tr>
    {% endfor %}
  </table>

  {% include 'includes/pagination.html' %}
</div>
{% endblock %}
