{% extends "base.html" %}
{% load i18n bootstrap %}

{% block body %}
<h1>Invite User</h1>
<div class="row container">
  <div class="col-md-6 col-md-offset-4">

    <form method="post">
      {% csrf_token %}
      <fieldset>
        <label class="my-1" for="group">{% trans "Recipient's information" %}</label>
        {% render_field form.recipient_email %}
        {% render_field form.recipient_first_name %}
        {% render_field form.recipient_last_name %}
        {% render_field form.group %}

        <input type="submit" value="{% trans 'Send' %}" class="btn btn-lg btn-success btn-block">
      </fieldset>

    </form>
  </div>
</div>
{% endblock %}
