{% extends "base.html" %}
{% load i18n bootstrap %}
{% block body %}
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <h2>{% trans "Register to eScriptorium" %}</h2>
    <p>{% blocktrans with sender=invitation.sender.get_full_name %}
      You received an invitation from {{sender}}, please fill the form below to register.
    {% endblocktrans %}</p>

    <form method="post">
      {% csrf_token %}
      <fieldset>
        {% render_field form.email required %}
        {% render_field form.username required %}
        {% render_field form.first_name %}
        {% render_field form.last_name %}
        {% render_field form.password1 required %}
        {% render_field form.password2 required %}
        <input type="submit" value="{% trans 'Signup' %}" class="btn btn-lg btn-success btn-block">
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
