{% extends "base.html" %}
{% load i18n bootstrap static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% block infos-tab-active %}active{% endblock %}" id="nav-infos-tab" href="{% url 'profile' %}" role="tab">{% trans "Informations" %}</a>
            <a class="nav-link {% block key-tab-active %}{% endblock %}" id="nav-key-tab"  href="{% url 'profile-api-key' %}" role="tab">{% trans "Api key" %}</a>
            <a class="nav-link {% block files-tab-active %}{% endblock %}" id="nav-files-tab" href="{% url 'profile-files' %}" role="tab">{% trans "Files" %}</a>
            <a class="nav-link {% block team-tab-active %}{% endblock %}" id="nav-infos-tab" href="{% url 'profile-team-list' %}" role="tab">{% trans "Teams" %}</a>
        </div>

        <div class="col-md-8 tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="infos-tab" role="tabpanel">
                {% block tab-content %}
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% render_field form.email %}
                        {% render_field form.first_name %}
                        {% render_field form.last_name %}

                        <input type="submit" value="{% trans 'Save' %}" class="btn btn-lg btn-success btn-block">
                    </fieldset>
                </form>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
 $(document).ready(function() {
     $('#api-key-clipboard').click(function() {
         navigator.clipboard.writeText($(this).data('key'))
     });

     function updatePagination(hash) {
         $('ul.pagination a').each(function(i, a) {
             let href = $(a).attr("href").split('#')[0];
             $(a).attr("href", href+location.hash);
         });
     }

     if (location.hash) {
         let tab = location.hash.split('#')[1];
         $('#nav-' + tab).tab("show");
         updatePagination(location.hash);
     }
     $('a[data-toggle="pill"]').on("click", function() {
         let url = location.href;
         let hash = $(this).attr("href");
         if (hash.startsWith('#')) {
             let newUrl = url.split("#")[0] + hash;
             history.replaceState(null, null, newUrl);
             updatePagination(hash);
         }
     });
 }, false);
</script>
{% endblock %}
