/* set of filters */
.escr-filter-set {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}
/* spacing between filters */
.escr-filter-set .escr-filter-button {
    margin-left: 16px;
}
