.escr-export-modal .escr-checkbox-field .escr-help-text {
    margin: 8px 30px 0 10px;
    font-style: italic;
}

.escr-export-modal .escr-region-types .escr-multiselect-dropdown {
    margin-top: 12px;
}

.escr-export-modal .escr-modal {
    max-height: calc(100vh - 200px);
    overflow: visible;
}

.escr-export-modal .escr-modal-content {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
}
