{% load bootstrap %}<div id="alert-tplt">
  <div class="alert alert-dismissible fade show" role="alert">
    <p class="m-0"><span class="message"></span> <span class="counter"></span></p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="additional"></p>
  </div>
</div>

<div id="alerts-container"></div>
{% if messages %}
<script>
  {% for message in messages %}
    {% if message.extra_tags and "quotas" in message.extra_tags %}
      Alert.add(null, "{{ message }}", "{{ message.level_tag|level_to_color }}", [{
        src: "{{ message.extra_tags }}",
        text: "Report",
        cssClass: "a",
        targetBlank: true
      }]);
    {% else %}
      Alert.add(null, "{{ message }}", "{{ message.level_tag|level_to_color }}")
    {% endif %}
  {% endfor %}
</script>
{% endif %}
