{% load i18n bootstrap %}
<!-- shareModal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{% block form-action %}{% endblock %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">{% trans "Share with" %}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block share-teams %}
                    <h5>{% trans "Teams" %}</h5>
                    {% render_field share_form.shared_with_groups %}
                    {% endblock %}
                    <h5>{% trans "Users" %}</h5>
                    {% render_field share_form.username %}
                    {% render_field share_form.shared_with_users %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                    <input type="submit" value="{% trans 'Share' %}" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
