body {
    mind-height: 2000px;
    padding-top: 70px;
    max-width: 1800px;
}

/* alerts */
#alerts-container {
    width: 400px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 5;
}

#alert-tplt {
    display: none;
}

#alerts-container .separator, #alerts-container .additional {
    display: none;
}

/* document form */
.js-metadata-row:last-of-type .js-metadata-delete {
    display: none;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropable {
    z-index: 2;
    min-width: 10px;
    opacity: 0.5;
    /* background-color: blue; */
    display: inline-block;
}

.drop-target {
    /* box-sizing: border-box; */
    padding-right: 50px;
    padding-left: 50px;
    margin-left: -45px;
    margin-right: -45px;
}

.drop-accept {
    border: 2px dashed #0087F7;
}

#cards-container {
    overflow: auto;
}

.card {
    padding: 0;
    cursor: grab;
}

#card-template {
    display: none;
}

.js-part-delete-form button {
    position: absolute;
    right: 0;
}

#segment-viewer {
    position: relative;
}

.line-box {
    position: absolute;
    background-color: transparent;
    border: 1px solid red;
}

.card .js-binarized, .card .js-segmented {
    display: none;
}

.card span.ongoing {
  animation-duration: 1s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink{
	from {opacity: 1;}
    to {opacity: 0.5;}
}

.card span.done {
    cursor: pointer;
}

.card .progress {
    height: 30px;
    font-size: 20px;
}

#box-tplt {
    display: none;
}
