body {
    mind-height: 2000px;
    padding: 10px;
    padding-top: 70px;
    max-width: 1800px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
}

/* alerts */
#alerts-container {
    width: 400px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 5;
}

#alert-tplt {
    display: none;
}

#alerts-container .separator, #alerts-container .additional {
    display: none;
}

/* document form */
.multi-proc span {
    line-height: 2rem;
}

form.inline-form {
    display: inline;
}

.import-counter-container {
    display: none;
}
.import-counter-container.ongoing {
    display: block;
}

.js-metadata-row:last-of-type .js-metadata-delete {
    display: none;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

#dropzone #advancedForm .form-group {
    margin-right: 30px;
}

#dropzone #advancedForm .card-footer {
    display: flex;
}

.dropable {
    z-index: 2;
    min-width: 10px;
    opacity: 0.5;
    /* background-color: blue; */
    display: inline-block;
}

.drop-target {
    /* box-sizing: border-box; */
    padding-right: 50px;
    padding-left: 50px;
    margin-left: -45px;
    margin-right: -45px;
}

.drop-accept {
    border: 2px dashed #0087F7;
}

#cards-container {
    overflow: auto;
}

#cards-container .card {
    padding: 0;
    cursor: grab;
    width: 183px;
    min-width: 150px;
}

#card-template {
    display: none;
}

.card.locked {
    border: 2px solid var(--dark);
}

.card-btns {
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
}

.card .card-btn {
    opacity: 0.2;
    margin: 5px;
    width: 90%;
}

.card .card-btn.js-cancel {
    display: none;
}

.card:hover .card-btn {
    opacity: 1;
}

.card .js-part-update-form {
    display: none;
}

.js-part-delete-form button {
    position: absolute;
    right: 0;
}

.js-card-select-hdl {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: 0;
}

.process-part-form h5 {
    color: var(--secondary);
    text-align: center;
}
.process-part-form .help-text {
    padding: 0.5rem;
}

.help.open {
    display: none;
    cursor: pointer;
    color: var(--primary);
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    background-color: transparent;
    float: right;
    opacity: .5;
}
.help.open:hover {
    opacity: 1;
}


#viewer-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
    border: 1px solid rgba(0,0,0,.125);
    display: none;
    /* height: calc(100vh - 80px); */
}
#viewer-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.3;
}
#viewer-buttons:hover {
    opacity: 1;
}

#viewer {
    padding: 0;
    margin: 0;
    position: relative;
    transform-origin: top left;
}

.box {
    position: absolute !important;
    cursor: pointer;
    overflow: hidden;
}
.box .close {
    display: none;
}

.block-box {
    opacity: 0.2;
    z-index: 2;
}
.line-box {
    z-index: 3;
    box-sizing: content-box; 
}

.box.selected {
    border: 1px dashed;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.box.selected .close {
    display: inline;
}

.card .js-trans-progress {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.card .js-trans-progress .progress-bar {
    color: var(--dark);
}

.card .ongoing {
    color: var(--info);
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink{
	from {opacity: 1;}
    to {opacity: 0.2;}
}
.card .proc.error {
    color: var(--danger);
}
.card .proc.pending {
    color: var(--secondary);
}
.card .proc.canceled {
    color: var(--warning);
}
.card .btn.proc {
    padding: 0;
}
.card .btn.proc:hover {
    color: var(--info);
}

.card .proc.done {
    color: var(--success);
}
.card .js-compressing {
    display: none;
}
.card .js-compressing.pending, .card .js-compressing.ongoing {
    display: inline;
}
.card .js-compressing.done {
    display: none;
}

.ui-resizable-s {
    bottom: 0;  /* mess with outline */
}
.ui-resizable-e {
    right: 0;  /* mess with outline */
}

/* transcription interface  */
.nav-btn {
    font-size: 50px;
}

.col-sides {
    width: 30px;
}

#img-panel, #img-tools, #binar-panel, #seg-panel,
#binar-tools, #seg-tools, #trans-panel, #trans-tools {
    display: none;
}
i.panel-icon {
    vertical-align: top;
}

.img-container {
    position: relative;
    overflow: hidden;
    border: 1px solid lightgrey;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}
.zoom-container {
    transform-origin: 0 0;
}
#zoom-range {
    height: 100px;
}

#part-trans, #part-img {
    overflow: hidden;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transform-origin:top left;
}

.overlay {
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: transparent;
    outline: 9999px solid rgba(0, 0, 0, 0.1);
}

#modal-img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#modal-img-container #line-img {
    position: absolute;
}

#trans-modal .modal-content {
    display: block;
}

#trans-modal #trans-input, #trans-rule {
    overflow: visible;
    margin-top: 1rem;
    white-space: nowrap;
    padding: 0 8px;
    transform-origin: top left;
}
#trans-rule {
    visibility: hidden;
    position: absolute;
}

#trans-modal  thead tr#no-versions th {
    border: none;
}
#trans-modal .modal-body{
    overflow: visible;
}

.trans-box {
    position: absolute !important;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.trans-box span {
    white-space: nowrap;
    display: block;
    transform-origin: top left;
    max-height: 100%;
}
.trans-box span:empty {
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
