body {
    mind-height: 2000px;
    padding-top: 70px;
    max-width: 1800px;
}

/* alerts */
#alerts-container {
    width: 400px;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 5;
}

#alert-tplt {
    display: none;
}

#alerts-container .separator, #alerts-container .additional {
    display: none;
}

/* document form */
.js-metadata-row:last-of-type .js-metadata-delete {
    display: none;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

#dropzone #advancedForm .form-group {
    margin-right: 30px;
}

#dropzone #advancedForm .card-footer {
    display: flex;
}

.dropable {
    z-index: 2;
    min-width: 10px;
    opacity: 0.5;
    /* background-color: blue; */
    display: inline-block;
}

.drop-target {
    /* box-sizing: border-box; */
    padding-right: 50px;
    padding-left: 50px;
    margin-left: -45px;
    margin-right: -45px;
}

.drop-accept {
    border: 2px dashed #0087F7;
}

#cards-container {
    overflow: auto;
}

#cards-container .card {
    padding: 0;
    cursor: grab;
    width: 183px;
    min-width: 150px;
}

#card-template {
    display: none;
}

.card.locked {
    border: 2px solid var(--dark);
}

.card .js-edit {
    opacity: 0.5;
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
}

.card .js-part-update-form {
    display: none;
}

.js-part-delete-form button {
    position: absolute;
    right: 0;
}

.js-card-select-hdl {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: 0;
}

.process-part-form h5 {
    color: var(--secondary);
    text-align: center;
}
.process-part-form .help-text {
    padding: 0.5rem;
}

#viewer-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
    border: 1px solid rgba(0,0,0,.125);
    display: none;
    /* height: calc(100vh - 80px); */
}
#viewer-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.3;
}
#viewer-buttons:hover {
    opacity: 1;
}

#viewer {
    padding: 0;
    margin: 0;
    position: relative;
    transform-origin: top left;
}

.box {
    position: absolute !important;
    cursor: pointer;
    overflow: hidden;
}
.box .close {
    display: none;
}

.block-box {
    opacity: 0.2;
    z-index: 2;
}
.line-box {
    z-index: 3;
    box-sizing: content-box; 
}

.box.selected {
    border: 1px dashed;
    outline: 9999px solid rgba(0, 0, 0, 0.5);
}

.box.selected .close {
    display: inline;
}

.card .js-binarized, .card .js-trans-progress  {
    display: none;
}
.card .js-trans-progress {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.card .js-trans-progress .progress-bar {
    color: var(--dark);
}

.card .proc.ongoing {
    color: var(--info);
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink{
	from {opacity: 1;}
    to {opacity: 0.2;}
}
.card .proc.error {
    color: var(--danger);
}
.card .proc.pending {
    color: var(--secondary);
}
.card .proc.js-segmented, .card .proc.done {
    cursor: pointer;
}

.card .proc.done:hover {
    color: var(--primary);
}

.ui-resizable-s {
    bottom: 0;  /* mess with outline */
}
.ui-resizable-e {
    right: 0;  /* mess with outline */
}

/* transcription interface  */
.nav-btn {
    position: absolute;
    font-size: 50px;
}

.nav-btn.nav-prev {
    left: -30px;
}

.nav-btn.nav-next {
    right: -30px;
}

#trans-container, #img-container {
    position: relative;
    overflow: hidden;
    border: 1px solid lightgrey;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

#part-trans, #part-img {
    overflow: hidden;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transform-origin:top left;
}

#overlay {
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    background-color: transparent;
    outline: 9999px solid rgba(0, 0, 0, 0.3);
}

#modal-img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#modal-img-container #line-img {
    position: absolute;
}

#trans-modal #trans-input {
    width: 100%;
    padding: 0 0 0 8px;
    white-space: nowrap;
}
#trans-modal #trans-input .ql-editor {
    width: 100%;
    padding: 0;
    overflow: hidden;
    transform-origin: 0 0;
}

.trans-box {
    position: absolute !important;
    background-color: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.trans-box span {
    white-space: nowrap;
    display: inline-block;
    transform-origin: top left;
}
.trans-box span:empty {
    width: 100%;
    height: 100%;
    border: 1px solid lightgrey;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
