.rtl {
    /* Note: doesn't seem to work in svgs, it messes up text lines coordinates */
    direction: rtl;
}

#trans-modal .modal-body.rtl #trans-input {
    transform-origin: top right;
}

.rtl .d-table .d-table-cell {
    /* circumvent bootstrap bug */
    text-align: right;
}

.rtl .trans-box span {
    transform-origin: top right;
}

.rtl .line-order, .rtl .line-region{
    border-right: 0;
    border-left: 1px solid lightgrey;
}

.rtl .line-content {
    /* fixes table like alignment */
    text-align: right;
}
