{% extends 'core/search/base.html' %}
{% load i18n %}

{% block head_title %}
  {% trans "Search in projects" %}
{% endblock %}

{% block title %}
  {% trans "Search text in projects" %}
{% endblock %}

{% block body %}
  {% if DISABLE_ELASTICSEARCH %}
    <div class="alert alert-danger mt-4" role="alert">
      {% trans "Search feature is deactivated on this instance." %}
    </div>
    <a class="btn btn-primary" href="{% url 'home' %}">Back to homepage</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block action_button %}{% trans "Search" %}{% endblock %}

{% block results %}
  {% if es_error %}
    <div class="alert alert-danger" role="alert">
      {% trans "Couldn't connect to Elasticsearch, please contact your instance administrator." %}
      <p class="mt-2 mb-0"><strong>{% trans "Reason:" %}</strong> {{ es_error }}</p>
    </div>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}
