/* segmentation toolbar styling */
.escr-segmentation-toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--background2);
    max-height: 130px;
}

/* special styling for segmentation-specific tools */
.escr-segmentation-toolbar .escr-editortools-paneltools {
    flex-flow: row wrap;
}

/* segmented button groups special styling */
.escr-segmentation-toolbar .escr-segmented-button-group,
.escr-segmentation-toolbar .escr-segmented-button-group label {
    height: 38px;
}
.escr-segmentation-toolbar .escr-segmented-button-group input:not(:checked) + label,
.escr-segmentation-toolbar .escr-segmented-button-group input:not(:checked) + div > label {
    background-color: var(--background1);
}
.escr-segmentation-toolbar .escr-segmented-button-group input:not(:checked) + label:hover,
.escr-segmentation-toolbar .escr-segmented-button-group input:not(:checked) + div > label:hover {
    background-color: var(--background2-dark);
}
.escr-segmentation-toolbar .escr-segmented-button-group input:not(:checked) + label:active,
.escr-segmentation-toolbar .escr-segmented-button-group input:not(:checked) + div > label:active {
    background-color: var(--background2-darker);
}

/* line numbering toggle special styling */
#line-numbers-toggle .escr-toggle-button:not([class*="active"]):not(:hover) {
    background-color: var(--background1);
}

/* undo/redo buttons special styling, no background when disabled */
.escr-segmentation-toolbar .escr-button#undo-button:disabled,
.escr-segmentation-toolbar .escr-button#redo-button:disabled {
    background: transparent;
}

/* delete dropdown special styling */
.escr-segmentation-toolbar #escr-delete-dropdown-button svg:first-of-type {
    margin: 0 0.2rem 0 0.5rem;
}
.escr-segmentation-toolbar #escr-delete-dropdown-button svg:last-of-type {
    margin: 0 0.5rem 0 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
}

/* detachable toolbar */
.escr-button.attach-detach-toolbar svg {
    stroke: var(--background2);
}
.escr-segmentation-toolbar.detached-toolbar {
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--background2);
    position: absolute;
    border-radius: 5px;
    min-height: 44px;
    padding: 0 8px 0 0;
    margin: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    z-index: var(--detached-toolbar-z);
}
.detached-toolbar .drag-handle {
    color: var(--text1);
    display: flex;
    flex-flow: row;
    align-items: center;
    min-height: 38px;
    cursor: pointer;
}

/* scroll the type select menu if it gets too long */
#type-select-menu {
    overflow: auto;
    max-height: 350px;
}
