.escr-segmentation-toolbar > i {
    margin: 0 1rem;
    color: var(--text1);
    fill: var(--text1);
}
.escr-segmentation-toolbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--background1);
}
.escr-segmentation-toolbar #escr-delete-dropdown-button svg:first-of-type {
    margin: 0 0.2rem 0 0.5rem;
}
.escr-segmentation-toolbar #escr-delete-dropdown-button svg:last-of-type {
    margin: 0 0.5rem 0 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
}

/* undo/redo buttons have special styling, no background when disabled */
.escr-segmentation-toolbar .escr-button#undo-button:disabled,
.escr-segmentation-toolbar .escr-button#redo-button:disabled {
    background: transparent;
}
