.escr-text-field input {
    background-color: var(--background2);
    color: var(--text1);
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0 0 1px;
}
.escr-text-field input:disabled {
    color: var(--text3);
    background-color: var(--background);
    pointer-events: none;
}
.escr-text-field input:invalid:not(:focus-visible),
.escr-text-field input[invalid]:not(:focus-visible) {
    outline: 1px solid var(--alert);
}
.escr-text-field input:invalid:focus-visible,
.escr-text-field input[invalid]:focus-visible {
    outline-color: var(--alert);
    border-color: var(--alert);
}
