.escr-form-field span.escr-required {
    color: red;
}
.escr-form-field .escr-help-text {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
}
.escr-form-field .escr-field-label {
    display: block;
    font-weight: 600;
}
