.escr-form-field {
    display: block;
}
.escr-form-field span.escr-required,
h3 span.escr-required {
    color: red;
    margin-left: 3px;
}
.escr-help-text {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
}
.escr-form-field .escr-field-label {
    display: block;
    font-weight: 600;
}
.escr-form-field.escr-checkbox-field {
    display: flex;
    flex-flow: column;
}
.escr-form-field.escr-checkbox-field label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 8px;
}
.escr-form-field.escr-checkbox-field input {
    margin-right: 12px;
}
.escr-form-field.escr-checkbox-field .escr-help-text {
    display: block;
    margin-top: 8px;
}

input[type="file"] {
    font: inherit;
    background-color: var(--background);
    width: 100%;
    border-radius: 4px;
    height: 38px;
}
input[type="file"]::file-selector-button {
    padding: 8px 16px;
    height: 100%;
    font: inherit;
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: var(--primary);
    color: var(--button-text);
    font-weight: 600;
    cursor: pointer;
}
