/* tag groups */
.escr-tag-group {
    display: flex;
    white-space: nowrap;
}
.escr-tag-group .escr-tag:not(:last-of-type) {
    margin-right: 4px;
}
.escr-tag-group-wrapped {
    flex-flow: row wrap;
}
.escr-tag-group-wrapped .escr-tag {
    margin-bottom: 4px;
}
/* tag overflow (non-wrapping) */
.escr-tag-overflow-toggle {
    cursor: default;
}
.v-popper--theme-tags-dropdown .v-popper__inner {
    background: var(--background1);
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 2px 4px rgba(0, 0, 0, 0.15);
    border: none;
}
.v-popper--theme-tags-dropdown .v-popper__arrow-inner {
    border-color: var(--background1);
}
.v-popper--theme-tags-dropdown .v-popper__arrow-outer {
    border-color: var(--background2);
}
.escr-tag-overflow {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
.escr-tag-overflow .escr-tag:not(:last-of-type) {
    margin-bottom: 10px;
}
