/* Filter modal */
.escr-tag-filter {
    width: 360px;
}
.escr-tag-filter h3 {
    color: var(--text1);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.escr-tag-filter h4 {
    color: var(--text1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.escr-tag-filter h4 div {
    display: flex;
    flex-flow: row nowrap;
}
.escr-tag-filter {
    padding-right: 16px;
}

/* Tags list with checkboxes */
.escr-tag-filter-group {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
}
.escr-tag-filter-group .escr-tag {
    margin-right: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 25px;
    box-sizing: border-box;
    transition: box-shadow 0.15s ease-in-out;
}
.escr-tag-filter-group input[type="checkbox"]:checked + .escr-tag {
    border: 1px solid var(--text1);
}
.escr-tag-filter-group input[type="checkbox"]:focus + .escr-tag {
    box-shadow: 0 0 0 0.2rem var(--secondary-focus);
}

/* Checkmark for checked box */
.escr-tag-filter-group input[type="checkbox"]:not(:checked) + .escr-tag svg {
    display: none;
}
.escr-tag-filter-group input[type="checkbox"]:checked + .escr-tag svg {
    margin-left: 5px;
    display: inline;
}

/* additional layout elements */
.escr-tag-filter .escr-text-field {
    margin-top: -16px;
}
.escr-tag-filter hr {
    margin: 16px 0;
}
.escr-tag-filter label {
    display: flex;
    align-items: center;
}
.escr-tag-filter input#untagged {
    margin-right: 0.5rem;
}
.escr-tag-filter input#untagged + span {
    color: var(--text1);
}
