/* Filter modal */
.escr-tag-filter {
    background-color: var(--background1);
    padding: 8px 16px 16px;
    border-radius: 15px;
    width: 360px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.15))
        drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.15));
}
.escr-tag-filter h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Tags list with checkboxes */
.escr-tag-filter-group {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
}
.escr-tag-filter-group .escr-tag {
    margin-right: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 25px;
    box-sizing: border-box;
}
.escr-tag-filter-group input[type="checkbox"]:checked + .escr-tag {
    border: 1px solid var(--text1);
}
.escr-tag-filter-group input[type="checkbox"]:focus + .escr-tag {
    box-shadow: 0 0 0 0.1rem var(--secondary-focus);
}

/* Checkmark for checked box */
/* TODO: Replace with real icon */
.escr-tag-filter-group input[type="checkbox"]:checked + .escr-tag span:after {
    display: inline;
    content: " \2713";
}

/* additional layout elements */
.escr-tag-filter .escr-text-field {
    margin-top: -16px;
}
.escr-tag-filter hr {
    margin: 16px 0;
}
.escr-tag-filter label {
    display: flex;
    align-items: center;
}
.escr-tag-filter .escr-filter-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}
.escr-tag-filter .escr-filter-actions button:first-of-type {
    margin-right: 16px;
}
